<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>The Intoxicated Cactuar</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
<<<<<<< HEAD
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<title>The Intoxicated Cactuar</title>
=======
>>>>>>> origin/dakota_edwards
</head>

<body>

	<header>

		<div class="banner">
			<a href="/">
				<div class="ping"></div>
			</a>
		</div>

		<div class="subtitle-jon">
			<h1 class="subtitle-jon">The Intoxicated Cactuar</h1>
		</div>

		<div class="search">

			<div class="chain">

<<<<<<< HEAD
				<div class="button-jon">

					<select name="type" form="typechoice">
						<option value="drink">Drink</option>
						<option value="food">Food</option>
					</select>

					<select name="source" form="sourcechoice">
						<option value="recipe">Recipe</option>
						<option value="source">Source</option>
					</select>

					<form>
						<input type="text" id="search" name="search" placeholder="Type Your Search Here">
					</form>

					<button class="go">Search</button>

					<div class="break"></div>

					<span class="noDrink">
						<button class="drink">
							<a href="/add-drinks" class="none">Add a Drink Recipe</a>
						</button>
					</span>
					<span class="noFood">
						<button class="food">
							<a href="/add-food" class="none">Add a Food Recipe</a>
						</button>
					</span>

				</div>
=======
				<select id="type" name="type" form="typechoice">
					<option value="drinks">Drink</option>
					<option value="food">Food</option>
				</select>

				<select id="origin" name="source" form="sourcechoice">
					<option value="name">Recipe Name</option>
					<option value="source">Source</option>
				</select>
>>>>>>> origin/dakota_edwards

				<form>
					<input type="text" id="search" name="search" placeholder="Type Your Search Here">
				</form>

				<button class="go">Search</button>


			</div>

		</div>

	</header>
<<<<<<< HEAD

	<div class="main">

		<section class="section">
			{{{ body }}}
		</section>

	</div>

	<footer>

		<div class="links">

			<div class="text">

				Special thanks to Drew for inspiring this website!

			</div>

		</div>

	</footer>

=======
	<section class="section">
		{{{ body }}}
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="/assets/js/cactuar.js"></script>
>>>>>>> origin/dakota_edwards
</body>

</html>