<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>The Intoxicated Cactuar</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>

	<header>

		<div class="banner">
			<img src="/assets/images/banner.png" role="banner">
		</div>
		<div class="subtitle">
			<h1 class="subtitle">The Intoxicated Cactuar</h1>
		</div>

		<div class="search">

			<div class="chain">

				<select class="type" name="type" form="typechoice">
					<option value="drink">Drink</option>
					<option value="food">Food</option>
				</select>

				<select name="source" form="sourcechoice">
					<option value="recipe">Recipe Name</option>
					<option value="source">Source</option>
				</select>

			</div>

		</div>

	</header>
	{{{ body }}}
</body>

</html>