<h1>Add a recipe</h1>

<form>
  <p>Would you like to add a recipe for a drink, or food?</p>
  <div>
    <input type="radio" id="drinkSelector"
     name="selector" value="drink" checked>
    <label for="Choice1">Drink</label>

    <input type="radio" id="foodSelector"
     name="selector" value="food">
    <label for="Choice2">Food</label>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>