<script src="/assets/js/noDrink.js"></script>

<div class="frame">

    <div class="card-header subtitle-card">
        <h1 class="subtitle-jon">Add Your Drink</h1>
    </div>

    <div class="center">

        <div class="pad">

            <form>
                <div>
                    <input class="frame" type="text" id="recipename" placeholder="Recipe name" class="pop">
                    <br>
                    <input class="frame" type="text" id="source" placeholder="Source" class="pop">
                    <br>
                    <input class="frame" type="text" id="ingredients" placeholder="Ingredients (please separate by commas)" class="pop">
                    <br>
                    <input class="frame" type="text" id="recipe" placeholder="Recipe" class="pop">
                    <br>
                    <input class="frame" type="text" id="blurb" placeholder="Blurb" class="pop">
                    <br>
                    <input class="frame" type="text" id="imageURL" placeholder="Imgur URL" class="pop">
                    <br>
                </div>
                <div>
                    <button type="submit" id="addDrink">Add Recipe</button>
                </div>
            </form>

        </div>

    </div>

</div>

