<h1>Add a drink recipe</h1>

    <div id="noteDiv"></div>

<form>
    <div>
        <input type="text" id="recipename" placeholder="Recipe name">
        <br>
        <input type="text" id="source" placeholder="Source">
        <br>
        <input type="text" id="ingredients" placeholder="Ingredients (please separate by commas)">
        <br>
        <input type="text" id="recipe" placeholder="Recipe">
        <br>
        <input type="text" id="blurb" placeholder="Blurb">
        <br>
        <input type="text" id="imageURL" placeholder="Imgur URL">
        <br>
    </div>
    <div>
        <button type="submit" class="addDrink">Add recipe</button>
    </div>
</form>

<script src="/assets/js/placeholder.js"></script>