<div class="post">

    <h3 class="text">Special Thanks</h3>

    <div class="text">

        <div class="center">

           First things first: 

           <br /> Big thanks to <a class="top" href="https://github.com/codentell">Drew Hoang</a> for inspiring this web project! 

        </div>

    </div>

</div>

<br />

<div class="post">

    <h3 class="text">Disclaimers and Such</h3>

    <div class="text">

        <div class="center">

            The
            <strong>Intoxicated Cactuar</strong> is a no-profit website created purely for entertainment purposes. The majority of
            the images on this site are derived from games, books, movies, comics, and TV shows. We do not own own these
            images, nor do we claim to. No infringement is intended.

        </div>

    </div>