<div class="post">

    <h3 class="text">Health Warnings</h3>

    <div class="text">

        <div class="center">

            Recipes posted on this site can come from anyone and anywhere. Some may be intended to be taken seriously, others...not so
            much.

            <br />
            <br /> Use good judgement when browsing our site and, as always, never consume anything harmful to your health:

        </div>

        <br />

        <ul>

            <li> Nothing toxic</li>
            <li> Nothing you're allergic to</li>
            <li> No overindulging in alcohol</li>
            <li> No underage drinking</li>
            <li> No drunk driving</li>
            <li> No drunk spellcasting</li>
            <li> No consumption of magical substances without a high-level wizard present</li>

        </ul>

        <br />

        <div class="center">

            Oh, and no wasting years of your life searching for fictional and/or supernatural ingredients...that's not a health warning
            per se, just good advice.

            <br />
            <br /> Stay safe. Stay healthy. Stay nerdy. Have fun.

        </div>

    </div>