<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Document</title>
</head>

<body>

    <header>

        <div class="banner">

            <h1>The Berubians Theater</h1>

        </div>

    </header>

    <div class="main">

        <div class="post">

            <h3 class="text">Welcome to the Intoxicated Cactuar</h3>

            <span class="post">

                Are you fed up with alcoholic drinks that don't reference nerdy games, movies, books, and TV shows? Would you sooner punch yourself in the face than eat one more cake that <i>isn't</i> shaped like Kirby? 

                <br /> <br /> 

                Test

            </span>

        </div>

    </div>

    <footer>

        <div class="links">

        </div>

    </footer>

    <script src="assets/js/placeholder.js"></script>

</body>

</html>