<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Intoxicated Cactuar</title>
</head>

<body>



    <div class="main">

        <div class="post">

            <h3 class="text">Welcome to the Intoxicated Cactuar</h3>

            <div class="text">

                <div class="center">

                    Are you fed up with snacks and drinks that don't pointlessly reference nerdy games, movies, books, and TV shows?

                    <br />
                    <br /> Do you routinely get thrown out of bars after angrily demanding to be served a drink that "tastes like
                    the Hypnotoad from
                    <strong>Futurama</strong>"?

                    <br />
                    <br /> Would you sooner punch yourself in the face than eat one more marshmallow-esque dessert that isn't shaped
                    like Kirby or Mallow?

                    <br />
                    <br /> Did you come
                    <i>this</i> close to divorcing your spouse the last time he/she poured you a martini that didn't reference
                    a Terry Prachett novel?

                    <br />
                    <br /> Did a woman recently break up with you - even though you weren't dating her - because you wouldn't shut
                    up about how good the food in
                    <strong>Final Fantasy XV</strong> looks?

                    <br />
                    <br /> Welcome home.

                </div>

            </div>

        </div>

        <br />

        <div class="post">

            <h3 class="text">Searching Our Recipes</h3>

            <div class="text">

                <div class="center">

                    Our site's beauty is its simplicity...because we couldn't be asked to make it beautifully complex.

                    <br />
                    <br /> At the
                    <a class="top" href="#top">Top of This Page</a> you'll find a
                    <strong>Search Bar</strong>. Above that, you'll find two
                    <strong>Dropdown Buttons</strong>.

                    <br />
                    <br /> Simply use the
                    <strong>Upper/Left Dropdown</strong> to tell us if you're searching for a
                    <strong>Food</strong> recipe or a
                    <strong>Drink</strong> recipe.

                    <br />
                    <br /> Next, use the
                    <strong>Upper/Right Dropdown</strong> to tell us if you're looking for the name of a
                    <strong>Recipe</strong> or the name of a recipe's
                    <strong>Source</strong> (the game, movie, book, or show the recipe came from).

                    <br />
                    <br /> Once you've done all that, just type something into the
                    <strong>Search Bar</strong>, click the
                    <strong>Search</strong> button, and voila!

                    <br />
                    <br /> Not quite sure what you're looking for yet? Well, just click one of the
                    <strong>All Drinks</strong> or
                    <strong>All Food</strong> buttons at the top of the page (or below) and start looking around!

                    <br />
                    <br />

                    <div class="button-jon">

                        <span class="getDrink">
                            <button class="alldrink">
                                <a href="/drinks" class="none">All Drinks</a>
                            </button>
                        </span>
                        <span class="getFood">
                            <button class="allfood">
                                <a href="/food" class="none">All Food</a>
                            </button>
                        </span>


                    </div>

                </div>

            </div>

        </div>

        <br />

        <div class="post">

            <h3 class="text">Add Your Own Recipe</h3>

            <div class="text">

                <div class="center">

                    Got an idea for a nerdy recipe? 'Course ya do! You're almost as nerdy as me!

                    <br />
                    <br /> Click one of the
                    <strong>Add Buttons</strong> above the
                    <strong>Search Bar</strong> (or one of the buttons below) and share your genius with us!

                    <br />
                    <br />

                    <div class="button-jon">

                        <span class="noDrink">
                            <button class="drink">
                                <a href="/add-drinks" class="none">Add a Drink Recipe</a>
                            </button>
                        </span>
                        <span class="noFood">
                            <button class="food">
                                <a href="/add-food" class="none">Add a Food Recipe</a>
                            </button>
                        </span>

                    </div>

                </div>

            </div>

        </div>

        <br />

        <div class="post">

            <h3 class="text">Health Warnings</h3>

            <div class="text">

                <div class="center">

                    Recipes posted on this site can come from anyone and anywhere. Some may be intended to be taken seriously, others...not so
                    much.

                    <br />
                    <br /> Use good judgement when browsing our site and, as always, never consume anything harmful to your health:

                </div>

                <br />

                <ul>

                    <li> Nothing toxic</li>
                    <li> Nothing you're allergic to</li>
                    <li> No overindulging in alcohol</li>
                    <li> No underage drinking</li>
                    <li> No drunk driving</li>
                    <li> No drunk spellcasting</li>
                    <li> No consumption of magical substances without a high-level wizard present</li>

                </ul>

                <br />

                <div class="center">

                    Oh, and no wasting years of your life searching for fictional and/or supernatural ingredients...that's not a health warning
                    per se, just good advice.

                    <br />
                    <br /> Stay safe. Stay healthy. Stay nerdy. Have fun.

                </div>

            </div>

        </div>

    </div>

    </div>

    <div class="gutter"></div>

    <footer>

        <div class="pad">

            <span class="left">
                <a href="/about" class="bottom">About Us</a>
            </span>
            <span class="left">
                <a href="/credits" class="bottom">Credits</a>
            </span>
            <span class="left">
                <a href="/health" class="bottom">Saftey</a>
            </span>
            <span class="right">
                <a href="/health" class="bottom">Terms of Use</a>
            </span>

        </div>

    </footer>

    <script src="assets/js/cactuar.js"></script>
    <script src="assets/js/placeholder.js"></script>

</body>

</html>