<div class="post">

    <h3 class="text">Content and Usage</h3>

    <div class="text">

        <div class="center">

            Browsers, please be aware that this is a public site that anyone can post on. 
            
            <br />
            <br /> Contributors, we insist that you avoid profanity, inflammatory speech, and all manner of adult content when posting on our site. Remember that many recipes on this site are drawn from family-friendly games, books, comics, movies, and shows. 
            
            <br />
            <br /> Humor and sarcasam are welcome (I was actually going to enforce humor and sarcasm, but they wouldn't let me...) but please always create content under the assumption that an underage person will read it.

            <br />
            <br /> We reserve the right to remove anything that doesn't adhere to the rules outlined above. 

            <br />
            <br /> Oh, almost forgot. Try and use image URLs that aren't likely go dead anytime soon. Recipes are always more fun with functioning visual aids, I find. 

        </div>

    </div>

</div>